@using TechLife.CSDLMoiTruong.App.Extensions
@model TechLife.CSDLMoiTruong.Model.SoLieuSinhTruong.SoLieuSinhTruongGetPagingRequest
@{
    ViewData["Title"] = "Danh sách số liệu sinh trưởng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section id="widget-grid">
    <div class="row">
        <!-- NEW WIDGET START -->
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget" id="wid-id-groups" data-widget-colorbutton="false"
                 data-widget-deletebutton="false"
                 data-widget-editbutton="false">
                <header>
                    <span class="widget-icon"> <i class="fa fa-bug"></i> </span>
                    <h2>@ViewData["Title"]</h2>
                </header>
                <div>
                    <!-- widget edit box -->
                    <div class="jarviswidget-editbox">
                        <!-- This area used as dropdown edit box -->
                    </div>
                    <!-- end widget edit box -->
                    <!-- widget content -->
                    <div class="widget-body">
                        <form method="get">
                            <div class="padding-bottom-10">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label class="form-label">Từ khóa tìm kiếm:</label>
                                        <div class="input-group input-group-sm">
                                            <input class="form-control" asp-for="Keyword" autocomplete="off" placeholder="Nhập từ khóa tìm kiếm...">
                                            <button class="btn btn-primary" type="submit">
                                                <i class="fa fa-search" aria-hidden="true"></i>
                                                Tìm kiếm
                                            </button>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="form-label">Loại cây trồng:</label>
                                        <select class="form-select form-select-sm" asp-for="CayTrongId" asp-items="@ViewBag.LoaiCayTrongItems">
                                            <option value="0">Chọn loại cây trồng</option>
                                        </select>
                                    </div>
                                    <!-- In the button section -->
                                    <div class="col-md-3 text-right">
                                        <button type="button" title="Thêm số liệu sinh trưởng" data-link="@Context.Request.GetRawUrl("/SoLieuSinhTruong/List/")" data-url="/SoLieuSinhTruong/Create/" data-toggle="modal" data-target="#modal" class="btn btn-success btn-sm popup"><i class="fa fa-plus-circle"></i> Thêm mới</button>
                                        <button type="button" title="Import Excel" data-link="@Context.Request.GetRawUrl("/SoLieuSinhTruong/List/")" data-url="/SoLieuSinhTruong/ImportExcel/" data-toggle="modal" data-target="#modal" class="btn btn-info btn-sm popup"><i class="fa fa-upload"></i> Import</button>
                                        <button type="button" title="Export Excel" onclick="exportExcel()" class="btn btn-warning btn-sm"><i class="fa fa-download"></i> Export</button>
                                    </div>
                                </div>
                            </div>
                            <div id="box-content">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </article>
    </div>
</section>



@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            let element = document.getElementById('box-content');
            loadContent('@Html.Raw(Context.Request.GetRawUrl("/SoLieuSinhTruong/List/"))', element);

            $("#CayTrongId, #status").on("change", function () {
                this.form.submit()
            });
            pageSetUp();
        });
        

        function exportExcel() {
            var cayTrongId = $('#CayTrongId').val();
            var keyword = $('#Keyword').val();

            if (cayTrongId === "0") {
                cayTrongId = null;
            }

            var form = document.createElement('form');
            form.method = 'POST';
            form.action = '/SoLieuSinhTruong/ExportExcel';

            var inputCayTrong = document.createElement('input');
            inputCayTrong.type = 'hidden';
            inputCayTrong.name = 'CayTrongId';
            inputCayTrong.value = cayTrongId;
            form.appendChild(inputCayTrong);

            var inputKeyword = document.createElement('input');
            inputKeyword.type = 'hidden';
            inputKeyword.name = 'Keyword';
            inputKeyword.value = keyword;
            form.appendChild(inputKeyword);

            var token = document.createElement('input');
            token.type = 'hidden';
            token.name = '__RequestVerificationToken';
            token.value = $('input[name="__RequestVerificationToken"]').val();
            form.appendChild(token);

            document.body.appendChild(form);
            form.submit();
        }
    </script>
}
